Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
.deps
config.h
config.log
config.status
libtool
stamp-h1
confdefs.h

*~
